
    <div class=""author>
    <h1 class="author__heading" >Hey,sup? I'm Balu</h1>
    <p class="author__body"> Just A Web Developer</p>
    </div>

    <img src="/img/wall.png" alt="person classic" class="hero__image">

<section>
    <h2 class="articles__heading">Latest Posts</h2>

    <ul class="article-ul">
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list__date">Date</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list__date">Date</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list__date">Date</span>
            </a>
        </li>
    </ul>

    <a href="#" class="pagination">&lt; View Older Posts</a>

</section>