<div class=""author>
    <h1 class="author__heading">Hey,Sup? I'm Balu</h1>
    <p class="author__body"> Just A Web Developer</p>
</div>

<img src="/img/images.jpg" alt="person classic" class="hero__image width-981 height-528">
<section>
    <h2 class="articles__heading">Latest Posts</h2>

    <ul class="article_ul">
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list__date">Date</span>
            </a>
        </li>
    </ul>

    <a href="#" class="pagination">&lt; View Older Posts</a>

</section>